$left-nav-bg:#f9f9f9;					// left nav default background color	
$left-nav-element-bg:#f9f9f9;			// left nav background color of <a>'s
$left-nav-element-bg-hover:#ECECEC;		// left nav background hover color of <a>'s
$left-nav-font-color:#000;				// left nav font color
$left-nav-seperator-color:#e5e5e5;		// left nav seperator color between elements (<a>'s)
$left-nav-allow-scroll:true !default;

$main-header-bg:#E67E22;				// main header background color
$main-header-font-color:#ffffff;		// main header font color
$main-header-text-align:center;			// main header text align (supported: left & center)

$shadows:true !default;					// enables 'materials' shadow design