.hover-button-group {
	button {
		position:fixed;
		border:none;
		right:37px;
		background:#db4437;
		color:#ffffff;
		border-radius:50%;
		box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
		width:40px;
		height:40px;
		&.main {
			right:28px;
			bottom:20px;
			width:56px;
			height:56px;
			background:green;
		}
		@for $i from 1 through 10 {
		  	&.onHover-#{$i}{
		   		bottom: 45px + ($i*50px);
			}
		}
	}
}