.hover-button-group {
	button {
		position:fixed;
		border:none;
		right:37px;
		background:$sub-hover-button-color;
		color:$sub-hover-button-font-color;
		border-radius:50%;
		box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
		width:40px;
		height:40px;
		transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
		&.main {
			z-index:10;
			right:28px;
			bottom:20px;
			width:56px;
			height:56px;
			color:$main-hover-button-font-color;
			background:$main-hover-button-color;
		}
		@for $i from 1 through $max-sub-hover-buttons {
			&.onHover-#{$i}{
				bottom: 45px + ($i*50px);
				opacity:0;
				transition: opacity .20s ease-in-out;
				transition-delay: (0.10s*($max-sub-hover-buttons - $i));
			}
			&.main:hover ~ .sub-hover-button-group>button.onHover-#{$i}{
				opacity:1;
				transition-delay: (0.10s*$i);
			}
		}	
		&.main:hover{
			box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.48);
		}
		&.main:hover ~ .sub-hover-button-group {
			height: 100px + ($max-sub-hover-buttons*50px);
		}
	}
	.sub-hover-button-group {
		height:0px;
		width: 100px;
		position: fixed;
		right: 0;
		bottom: 0;
		@for $i from 1 through $max-sub-hover-buttons {
			&:hover button.onHover-#{$i}{
				opacity:1;
				transition-delay: (0.10s*$i);
			}
		}
		&:hover{
			height: 100px + ($max-sub-hover-buttons*50px);
		}
	}
}