<div class="hover-button-group">	
	<button class="main">+</button>	
	<button class="onHover-1">-</button>
	<button class="onHover-2">+</button>
	<button class="onHover-3">&</button>
	<button class="onHover-4">$</button>
	<button class="onHover-5">$</button>
</div>
