<input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav class="main-nav" id="main-nav">
	<a href="#">This</a>
	<a href="#">Is</a>
	<a href="#">a really</a>
	<a href="#">Simple</a>
	<div class="separator"></div>
	<a href="#">Sidebar</a>
	<a href="#">This</a>
	<a href="#">Is</a>
	<a href="#">a really</a>
	<div class="separator"></div>
	<a href="#">Simple</a>
	<a href="#">Sidebar</a>
	<a href="#">This</a>
	<a href="#">Is</a>
	<a href="#">a really</a>
	<a href="#">Simple</a>
	<a href="#">Sidebar</a>
	<div class="separator"></div>
	<a href="#">This</a>
	<a href="#">Is</a>
	<a href="#">a really</a>
	<a href="#">Simple</a>
	<a href="#">Sidebar</a>
	<a href="#">This</a>
	<a href="#">Is</a>
	<a href="#">a really</a>
	<a href="#">Simple</a>
	<a href="#">Sidebar</a>
</nav>